nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

nav
{
    color: white;
}

#login, #logged-in {
    display: none;
}

.sidebar
{
    background-color: #ffe033;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 82;
    left: 0;
    padding: 10px;
}

body
{
    margin-bottom: 60px;
}
.col-md-3
{
   font-weight: bold;
}
.col-md-2
{
    font-style: italic;
}
.container-full
{
    margin-left:200px;
}

.footer
{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    line-height: 60px;
}

html
{
    min-height: 100%;
    position: relative;
}