nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

nav
{
    color: white;
}

#login, #logged-in {
    display: none;
}

.sidebar
{
    background-color: dodgerblue;
    height: 100%;
    width: 180px;
    position: fixed;
    top: 82;
    left: 0;
}

body
{
    margin-bottom: 60px;
}

.container.container-full
{
    margin-left:180px;
}

.footer
{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    line-height: 60px;
}

html
{
    min-height: 100%;
    position: relative;
}