<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/styles.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{url_for('static', filename='index.js')}}"></script>
        <title>ChatterBox: </title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark border">
            <a class="navbar-brand" href="/">Chatterbox</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">

                <ul class="navbar-nav ml-auto mt-2">
                  <li class="user_name" id="user_name"><div></div></li>
                </ul>
              </div>
        </nav>


      <main>
        <div id="login">
          <form id="login_form" class="form">
            <div class="form-group">
              <label class="control-label">What would you like to be called?</label>
              <input type="text" id="login_name" class="form-control" placeholder="user name" required/>
            </div>
            <button class="btn btn-primary" type="submit">Log in</button>
          </form>
        </div>
        <div id="logged-in">
          <div class="sidebar">
                  <ul id="channels">
                  </ul>
                  <form id="new_channel_form" class="form pull-left">
                    <div class="form-group">
                      <input required id="new_channel" autocomplete="off" name="new_channel" placeholder="Add New Channel" type="text"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </form>
              </div>

          <div class="container container-full">
            <div id="messages"></div>
            <div>
                <form id="new_message_form" class="form pull-left">
                  <div class="form-group">
                    <input required id="new_message" autocomplete="off" name="new_message" placeholder="Chat away" type="text"/>
                  </div>
                  <button class="btn btn-primary" type="submit">Post</button>
                </form>
            </div>
          </div>
        </div>

      </main>

      <footer class="footer">

      </footer>
    </body>

</html>